<div class="card card-div">
  <div class="form-div">
    <form #form1="ngForm">
      <div class="form-group1">
        <label>WebSocket URL</label>
        <input [(ngModel)]="websocket" type="text" name="websocket" class="form-control websocket-field" required
          #websocketID="ngModel">
      </div>
      <div class="connect-buttons">
        <button class="btn btn-primary connect-button" (click)="onConnect()" [disabled]="isEmpty() || connected">Connect</button>
        <button class="btn btn-primary disconnect-button" (click)="onDisconnect()" [disabled]="!connected">Disconnect</button>
      </div>
    </form>

    <form #form2="ngForm" *ngIf="connected">
      <div class="form-group2">
        <label>Type something</label>
        <input [(ngModel)]="message" type="text" name="message" class="form-control message-field" required #messageID="ngModel">
      </div>
      <div class="submit-button">
        <button class="btn btn-primary login-button" (click)="onSubmit()" [disabled]="messageID.invalid">Send</button>
      </div>
    </form>

    <form #form3="ngForm" *ngIf="connected||disconnected">
      <div class="form-group3" style="white-space:pre-wrap;">
        <label>Output</label>
        <textarea [(ngModel)]="output" type="text" rows="5" scroll="yes" name="output" class="form-control output-field"
          required #outputID="ngModel">
        </textarea>
      </div>
    </form>
  </div>
</div>

<router-outlet></router-outlet>