.card-div {
    padding: 10px;
    margin: 10px;
    background-color: lightblue;
    
    .connect-buttons {
        padding-top: 5px;
        .connect-button {
            margin-right: 5px;
        }
    }

    .form-group2 {
        padding-top: 15px;
    }

    .submit-button {
        padding-top: 5px;
    }
    .form-group3 {
        padding-top: 15px;
    }
}
